# Smart_Stock_ML: Data Cleaning & Preparation

In [1]:
# Import dependencies
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [2]:
# View the data
company_df = pd.read_csv('data/Company_expanded.csv')
company_df.head()

,Ticker,Year,GICS Sector,GICS Sub-Industry,Headquarters Location,Date Added,Founded,CEO Name,Gender,Salary,Date,CEO Transition,Tenure Bucket
0,A,2015,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,"$16,647,413",3/18/15,1,<= 2 years
1,A,2016,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,"$16,647,413",3/18/15,0,<= 2 years
2,A,2017,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,"$16,647,413",3/18/15,0,<= 2 years
3,A,2018,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,"$16,647,413",3/18/15,0,2 to 5 years
4,A,2019,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,"$16,647,413",3/18/15,0,2 to 5 years

In [3]:
# View data details
company_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4367 entries, 0 to 4366
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ticker                 4367 non-null   object
 1   Year                   4367 non-null   int64
 2   GICS Sector            4367 non-null   object
 3   GICS Sub-Industry      4367 non-null   object
 4   Headquarters Location  4367 non-null   object
 5   Date Added             4367 non-null   object
 6   Founded                4367 non-null   object
 7   CEO Name               4362 non-null   object
 8   Gender                 4367 non-null   object
 9   Salary                 4367 non-null   object
 10  Date                   4361 non-null   object
 11  CEO Transition         4367 non-null   int64
 12  Tenure Bucket          4367 non-null   object
dtypes: int64(2), object(11)
memory usage: 443.6+ KB

In [4]:
# View data columns
company_df.columns

Index(['Ticker', 'Year', 'GICS Sector', 'GICS Sub-Industry',
       'Headquarters Location', 'Date Added', 'Founded', 'CEO Name', 'Gender',
       'Salary', 'Date', 'CEO Transition', 'Tenure Bucket'],
      dtype='object')

In [5]:
# Seperate out Headquarters into US State or other Country location
company_df['HQ_US_State_or_Country'] = company_df.apply(lambda row: row['Headquarters Location'].split(",")[1].strip(), axis=1)

In [6]:
# Strip salary number from string and cast as an Integer
company_df['Salary'] = company_df['Salary'].replace('[\$,]', '', regex=True).astype(float).astype(int)
company_df

,Ticker,Year,GICS Sector,GICS Sub-Industry,Headquarters Location,Date Added,Founded,CEO Name,Gender,Salary,Date,CEO Transition,Tenure Bucket,HQ_US_State_or_Country
0,A,2015,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,1,<= 2 years,California
1,A,2016,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,<= 2 years,California
2,A,2017,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,<= 2 years,California
3,A,2018,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,2 to 5 years,California
4,A,2019,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,2 to 5 years,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,ZTS,2019,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Juan Alaix,M,15237853,1/1/20,0,<= 2 years,New Jersey
4363,ZTS,2020,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,1,<= 2 years,New Jersey
4364,ZTS,2021,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,0,<= 2 years,New Jersey
4365,ZTS,2022,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,0,<= 2 years,New Jersey
4366,ZTS,2023,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,0,2 to 5 years,New Jersey

In [7]:
# Create salary buckets
bin_edges = [0, 5000000, 10000000, 15000000, 20000000, 25000000, 50000000, 300000000]
company_df['Salary_Bucket'] = pd.cut(company_df['Salary'], bins=bin_edges)
company_df

,Ticker,Year,GICS Sector,GICS Sub-Industry,Headquarters Location,Date Added,Founded,CEO Name,Gender,Salary,Date,CEO Transition,Tenure Bucket,HQ_US_State_or_Country,Salary_Bucket
0,A,2015,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,1,<= 2 years,California,"(15000000, 20000000]"
1,A,2016,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,<= 2 years,California,"(15000000, 20000000]"
2,A,2017,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,<= 2 years,California,"(15000000, 20000000]"
3,A,2018,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,2 to 5 years,California,"(15000000, 20000000]"
4,A,2019,Health Care,Life Sciences Tools & Services,"Santa Clara, California",6/5/00,1999,Michael McMullen,M,16647413,3/18/15,0,2 to 5 years,California,"(15000000, 20000000]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,ZTS,2019,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Juan Alaix,M,15237853,1/1/20,0,<= 2 years,New Jersey,"(15000000, 20000000]"
4363,ZTS,2020,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,1,<= 2 years,New Jersey,"(15000000, 20000000]"
4364,ZTS,2021,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,0,<= 2 years,New Jersey,"(15000000, 20000000]"
4365,ZTS,2022,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,0,<= 2 years,New Jersey,"(15000000, 20000000]"
4366,ZTS,2023,Health Care,Pharmaceuticals,"Parsippany, New Jersey",6/21/13,1952,Kristin C. Peck,F,15237853,1/1/20,0,2 to 5 years,New Jersey,"(15000000, 20000000]"

In [8]:
# View bucket contents
company_df['Salary_Bucket'].value_counts()

Salary_Bucket
(10000000, 15000000]     1306
(15000000, 20000000]      865
(5000000, 10000000]       858
(20000000, 25000000]      585
(25000000, 50000000]      482
(0, 5000000]              171
(50000000, 300000000]     100
Name: count, dtype: int64

In [9]:
# Drop unnecessary/duplicate columns
company_df = company_df.drop(columns=['Headquarters Location', 
                                      'Date Added', 'CEO Name', 'Salary', 'Date'], axis=1)

In [10]:
company_df

,Ticker,Year,GICS Sector,GICS Sub-Industry,Founded,Gender,CEO Transition,Tenure Bucket,HQ_US_State_or_Country,Salary_Bucket
0,A,2015,Health Care,Life Sciences Tools & Services,1999,M,1,<= 2 years,California,"(15000000, 20000000]"
1,A,2016,Health Care,Life Sciences Tools & Services,1999,M,0,<= 2 years,California,"(15000000, 20000000]"
2,A,2017,Health Care,Life Sciences Tools & Services,1999,M,0,<= 2 years,California,"(15000000, 20000000]"
3,A,2018,Health Care,Life Sciences Tools & Services,1999,M,0,2 to 5 years,California,"(15000000, 20000000]"
4,A,2019,Health Care,Life Sciences Tools & Services,1999,M,0,2 to 5 years,California,"(15000000, 20000000]"
...,...,...,...,...,...,...,...,...,...,...
4362,ZTS,2019,Health Care,Pharmaceuticals,1952,M,0,<= 2 years,New Jersey,"(15000000, 20000000]"
4363,ZTS,2020,Health Care,Pharmaceuticals,1952,F,1,<= 2 years,New Jersey,"(15000000, 20000000]"
4364,ZTS,2021,Health Care,Pharmaceuticals,1952,F,0,<= 2 years,New Jersey,"(15000000, 20000000]"
4365,ZTS,2022,Health Care,Pharmaceuticals,1952,F,0,<= 2 years,New Jersey,"(15000000, 20000000]"
4366,ZTS,2023,Health Care,Pharmaceuticals,1952,F,0,2 to 5 years,New Jersey,"(15000000, 20000000]"

In [11]:
# Save clean company data to csv
company_df.to_csv("data/company_clean.csv", index=False)

In [12]:
# Create unique tickers list
unique_tickers_df = pd.DataFrame(company_df['Ticker'].unique(), columns=["Ticker"])

In [13]:
## Extract SP 500 stock data for each ticker and year available from yfinance
# Collect a list of failed stock downloads
bad_tickers = []

# Setup years and dataframe
years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
yearly_stocks_df = pd.DataFrame(columns=['Ticker', 'Year', 'Year_Open', 'Year_High', 'Year_Low', 'Year_Close', 'Year_Volume'])
good_years = 0

# Loop through unique tickers
for index,row in unique_tickers_df.iterrows():
    try:
        # Extract monthly data
        ticker = row["Ticker"]
        stock_data = yf.download(ticker, start="2015-01-01", end="2024-01-01", interval="1mo")
        # Save to a temporary dataframe
        stock_df = pd.DataFrame(stock_data).reset_index()
        
        # Loop through all years in temporary dataframe
        for year in years:
            # Extract the year
            year_stocks = stock_df.loc[stock_df['Date'].dt.year == year].reset_index(drop=True)
            # If year exists calculate Year values and save to a dictionary
            if year_stocks.empty:
                continue
            else:
                new_year = {"Ticker": ticker,
                            "Year": [year_stocks["Date"].iloc[0].year],
                            "Year_Open": [year_stocks["Open"].iloc[0]],
                            "Year_High": [year_stocks["High"].max()],
                            "Year_Low": [year_stocks["Low"].min()],
                            "Year_Close": [year_stocks["Close"].iloc[-1]],
                            "Year_Volume": [year_stocks["Volume"].sum()]
                   }
                # Create a new dataframe from the dictionary and concatenate to master stocks dataframe
                new_year_df = pd.DataFrame(new_year)
                good_years += 1
                yearly_stocks_df = pd.concat([yearly_stocks_df, new_year_df], ignore_index=True)
        
    except Exception as e:
        # If downlaod error, print error and collect bad ticker label
        print(f'Error occured in stock download: {e}')
        bad_tickers.append(ticker)

[*********************100%%**********************]  1 of 1 completed
/var/folders/pp/jydch3xn6ys5qzxqnlsfwm180000gn/T/ipykernel_32232/960851923.py:38: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  yearly_stocks_df = pd.concat([yearly_stocks_df, new_year_df], ignore_index=True)
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [16]:
# Print bad tickers
bad_tickers

[]

In [17]:
# Calculate stock CAGR
yearly_stocks_df['Stock_CAGR'] = yearly_stocks_df.apply(lambda row: (row['Year_Close']/row['Year_Open']) ** (1/1) - 1, axis=1)
yearly_stocks_df

,Ticker,Year,Year_Open,Year_High,Year_Low,Year_Close,Year_Volume,Stock_CAGR
0,A,2015,41.180000,43.590000,33.119999,41.810001,645291900,0.015299
1,A,2016,41.060001,48.630001,34.150002,45.560001,524933400,0.109596
2,A,2017,45.930000,70.930000,45.740002,66.970001,464585300,0.458088
3,A,2018,67.419998,75.110001,60.419998,67.459999,650604400,0.000593
4,A,2019,66.500000,85.680000,62.000000,85.309998,543573000,0.282857
...,...,...,...,...,...,...,...,...
4365,ZTS,2019,84.510002,133.660004,81.370003,132.350006,531567200,0.566087
4366,ZTS,2020,132.050003,176.639999,90.139999,165.500000,512124700,0.253313
4367,ZTS,2021,166.000000,249.270004,141.410004,244.029999,428719800,0.470060
4368,ZTS,2022,242.289993,243.240005,124.150002,146.550003,549233100,-0.395146
4369,ZTS,2023,148.660004,201.919998,141.520004,197.369995,485415000,0.327660

In [18]:
# Check stock stats
yearly_stocks_df.describe()

         Year_Open    Year_High     Year_Low   Year_Close   Stock_CAGR
count  4370.000000  4370.000000  4370.000000  4370.000000  4370.000000
mean    118.963952   151.392378    95.327447   132.766466     0.136916
std     211.460237   272.291050   167.659251   249.163149     0.361891
min       0.503250     0.848500     0.473500     0.824000    -0.754545
25%      43.923248    55.730124    34.580002    46.682500    -0.067219
50%      75.084999    93.559719    61.930000    82.099434     0.109747
75%     132.147495   166.959995   107.597500   146.310001     0.298811
max    5870.000000  7075.000000  4519.049805  7000.450195     7.311779

In [19]:
# Import S&P500 index data
sp500_df = pd.read_csv('data/SP500.csv')
sp500_df.head()

         Date     Open     High      Low    Close
0  2024-07-30  5478.73  5489.46  5401.70  5436.44
1  2024-07-29  5476.55  5487.74  5444.44  5463.54
2  2024-07-26  5433.67  5488.32  5430.70  5459.10
3  2024-07-25  5428.70  5491.59  5390.95  5399.22
4  2024-07-24  5505.84  5508.04  5419.98  5427.13

In [20]:
# Sort values by date
sp500_df = sp500_df.sort_values('Date').reset_index(drop=True)

In [21]:
# Convert data to datetime format
sp500_df['Date'] = pd.to_datetime(sp500_df['Date'])

In [22]:
# Create new dataframe
yearly_sp500_df = pd.DataFrame(columns=['Year', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close'])

# Calculate Year values and save to a dictionary
for year in years:
    year_sp500 = sp500_df.loc[sp500_df['Date'].dt.year == year].reset_index(drop=True)
    new_sp500_year = {"Year": [year_sp500["Date"].iloc[0].year],
                "SP500_Open": [year_sp500["Open"].iloc[0]],
                "SP500_High": [year_sp500["High"].max()],
                "SP500_Low": [year_sp500["Low"].min()],
                "SP500_Close": [year_sp500["Close"].iloc[-1]]
               }
    # Create a new dataframe from the dictionary and concatenate to master S&P500 dataframe
    new_sp500_year_df = pd.DataFrame(new_sp500_year)
    yearly_sp500_df = pd.concat([yearly_sp500_df, new_sp500_year_df], ignore_index=True)

yearly_sp500_df

/var/folders/pp/jydch3xn6ys5qzxqnlsfwm180000gn/T/ipykernel_32232/4237044345.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  yearly_sp500_df = pd.concat([yearly_sp500_df, new_sp500_year_df], ignore_index=True)

   Year  SP500_Open  SP500_High  SP500_Low  SP500_Close
0  2015     2058.90     2134.72    1867.01      2043.94
1  2016     2038.20     2277.53    1810.10      2238.83
2  2017     2251.57     2694.97    2245.13      2673.61
3  2018     2683.73     2940.91    2346.58      2506.85
4  2019     2476.96     3247.93    2443.96      3230.78
5  2020     3244.67     3760.20    2191.86      3756.07
6  2021     3764.61     4808.93    3662.71      4766.18
7  2022     4778.14     4818.62    3491.58      3839.50
8  2023     3853.29     4793.30    3794.33      4769.83

In [23]:
# Calculate SP&500 CAGR
yearly_sp500_df['SP500_CAGR'] = yearly_sp500_df.apply(lambda row: (row['SP500_Close']/row['SP500_Open']) ** (1/1) - 1, axis=1)
yearly_sp500_df

   Year  SP500_Open  SP500_High  SP500_Low  SP500_Close  SP500_CAGR
0  2015     2058.90     2134.72    1867.01      2043.94   -0.007266
1  2016     2038.20     2277.53    1810.10      2238.83    0.098435
2  2017     2251.57     2694.97    2245.13      2673.61    0.187443
3  2018     2683.73     2940.91    2346.58      2506.85   -0.065908
4  2019     2476.96     3247.93    2443.96      3230.78    0.304333
5  2020     3244.67     3760.20    2191.86      3756.07    0.157612
6  2021     3764.61     4808.93    3662.71      4766.18    0.266049
7  2022     4778.14     4818.62    3491.58      3839.50   -0.196445
8  2023     3853.29     4793.30    3794.33      4769.83    0.237859

In [24]:
# Merge stocks and S&P500 dataframes
stock_and_sp500_df = pd.merge(yearly_stocks_df, yearly_sp500_df, on='Year', how='left')

In [25]:
# View data
stock_and_sp500_df

,Ticker,Year,Year_Open,Year_High,Year_Low,Year_Close,Year_Volume,Stock_CAGR,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_CAGR
0,A,2015,41.180000,43.590000,33.119999,41.810001,645291900,0.015299,2058.90,2134.72,1867.01,2043.94,-0.007266
1,A,2016,41.060001,48.630001,34.150002,45.560001,524933400,0.109596,2038.20,2277.53,1810.10,2238.83,0.098435
2,A,2017,45.930000,70.930000,45.740002,66.970001,464585300,0.458088,2251.57,2694.97,2245.13,2673.61,0.187443
3,A,2018,67.419998,75.110001,60.419998,67.459999,650604400,0.000593,2683.73,2940.91,2346.58,2506.85,-0.065908
4,A,2019,66.500000,85.680000,62.000000,85.309998,543573000,0.282857,2476.96,3247.93,2443.96,3230.78,0.304333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4365,ZTS,2019,84.510002,133.660004,81.370003,132.350006,531567200,0.566087,2476.96,3247.93,2443.96,3230.78,0.304333
4366,ZTS,2020,132.050003,176.639999,90.139999,165.500000,512124700,0.253313,3244.67,3760.20,2191.86,3756.07,0.157612
4367,ZTS,2021,166.000000,249.270004,141.410004,244.029999,428719800,0.470060,3764.61,4808.93,3662.71,4766.18,0.266049
4368,ZTS,2022,242.289993,243.240005,124.150002,146.550003,549233100,-0.395146,4778.14,4818.62,3491.58,3839.50,-0.196445
4369,ZTS,2023,148.660004,201.919998,141.520004,197.369995,485415000,0.327660,3853.29,4793.30,3794.33,4769.83,0.237859

In [26]:
# Calculate if a stock CAGR has outperformed the S&P500 CAGR for that year, save results to new column
stock_and_sp500_df['Outperformed?'] = stock_and_sp500_df.apply(
    lambda row: 1 if row['Stock_CAGR'] > row['SP500_CAGR'] else 0, axis=1
)
        
stock_and_sp500_df

,Ticker,Year,Year_Open,Year_High,Year_Low,Year_Close,Year_Volume,Stock_CAGR,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_CAGR,Outperformed?
0,A,2015,41.180000,43.590000,33.119999,41.810001,645291900,0.015299,2058.90,2134.72,1867.01,2043.94,-0.007266,1
1,A,2016,41.060001,48.630001,34.150002,45.560001,524933400,0.109596,2038.20,2277.53,1810.10,2238.83,0.098435,1
2,A,2017,45.930000,70.930000,45.740002,66.970001,464585300,0.458088,2251.57,2694.97,2245.13,2673.61,0.187443,1
3,A,2018,67.419998,75.110001,60.419998,67.459999,650604400,0.000593,2683.73,2940.91,2346.58,2506.85,-0.065908,1
4,A,2019,66.500000,85.680000,62.000000,85.309998,543573000,0.282857,2476.96,3247.93,2443.96,3230.78,0.304333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4365,ZTS,2019,84.510002,133.660004,81.370003,132.350006,531567200,0.566087,2476.96,3247.93,2443.96,3230.78,0.304333,1
4366,ZTS,2020,132.050003,176.639999,90.139999,165.500000,512124700,0.253313,3244.67,3760.20,2191.86,3756.07,0.157612,1
4367,ZTS,2021,166.000000,249.270004,141.410004,244.029999,428719800,0.470060,3764.61,4808.93,3662.71,4766.18,0.266049,1
4368,ZTS,2022,242.289993,243.240005,124.150002,146.550003,549233100,-0.395146,4778.14,4818.62,3491.58,3839.50,-0.196445,0
4369,ZTS,2023,148.660004,201.919998,141.520004,197.369995,485415000,0.327660,3853.29,4793.30,3794.33,4769.83,0.237859,1

In [27]:
# Import annual metrics
annual_metrics_df = pd.read_csv('data/Annual_metrics.csv')
annual_metrics_df

,Year,Interest Rate (Federal Funds Effective Rate),CPI,UnemploymentRate,GDPGrowthRate
0,2015,0.11,0.1,5.3,2.9
1,2016,0.34,1.3,4.9,1.8
2,2017,0.65,2.1,4.4,2.5
3,2018,1.41,2.4,3.9,3.0
4,2019,2.40,1.8,3.7,2.5
5,2020,1.55,1.2,8.1,-2.2
6,2021,0.09,4.7,5.4,5.8
7,2022,0.08,8.0,3.6,1.9
8,2023,4.33,3.2,3.5,2.5

In [28]:
# Merge stock/S&P data with annual metrics
stock_sp500_metrics_df = pd.merge(stock_and_sp500_df, annual_metrics_df, on='Year', how='left')
stock_sp500_metrics_df

,Ticker,Year,Year_Open,Year_High,Year_Low,Year_Close,Year_Volume,Stock_CAGR,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_CAGR,Outperformed?,Interest Rate (Federal Funds Effective Rate),CPI,UnemploymentRate,GDPGrowthRate
0,A,2015,41.180000,43.590000,33.119999,41.810001,645291900,0.015299,2058.90,2134.72,1867.01,2043.94,-0.007266,1,0.11,0.1,5.3,2.9
1,A,2016,41.060001,48.630001,34.150002,45.560001,524933400,0.109596,2038.20,2277.53,1810.10,2238.83,0.098435,1,0.34,1.3,4.9,1.8
2,A,2017,45.930000,70.930000,45.740002,66.970001,464585300,0.458088,2251.57,2694.97,2245.13,2673.61,0.187443,1,0.65,2.1,4.4,2.5
3,A,2018,67.419998,75.110001,60.419998,67.459999,650604400,0.000593,2683.73,2940.91,2346.58,2506.85,-0.065908,1,1.41,2.4,3.9,3.0
4,A,2019,66.500000,85.680000,62.000000,85.309998,543573000,0.282857,2476.96,3247.93,2443.96,3230.78,0.304333,0,2.40,1.8,3.7,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4365,ZTS,2019,84.510002,133.660004,81.370003,132.350006,531567200,0.566087,2476.96,3247.93,2443.96,3230.78,0.304333,1,2.40,1.8,3.7,2.5
4366,ZTS,2020,132.050003,176.639999,90.139999,165.500000,512124700,0.253313,3244.67,3760.20,2191.86,3756.07,0.157612,1,1.55,1.2,8.1,-2.2
4367,ZTS,2021,166.000000,249.270004,141.410004,244.029999,428719800,0.470060,3764.61,4808.93,3662.71,4766.18,0.266049,1,0.09,4.7,5.4,5.8
4368,ZTS,2022,242.289993,243.240005,124.150002,146.550003,549233100,-0.395146,4778.14,4818.62,3491.58,3839.50,-0.196445,0,0.08,8.0,3.6,1.9
4369,ZTS,2023,148.660004,201.919998,141.520004,197.369995,485415000,0.327660,3853.29,4793.30,3794.33,4769.83,0.237859,1,4.33,3.2,3.5,2.5

In [29]:
# Merge completed stock and annual metric data with company dataframe
sp500_complete_df  = pd.merge(stock_sp500_metrics_df, company_df,  on=['Ticker', 'Year'], how='left').dropna()
sp500_complete_df

,Ticker,Year,Year_Open,Year_High,Year_Low,Year_Close,Year_Volume,Stock_CAGR,SP500_Open,SP500_High,...,UnemploymentRate,GDPGrowthRate,GICS Sector,GICS Sub-Industry,Founded,Gender,CEO Transition,Tenure Bucket,HQ_US_State_or_Country,Salary_Bucket
0,A,2015,41.180000,43.590000,33.119999,41.810001,645291900,0.015299,2058.90,2134.72,...,5.3,2.9,Health Care,Life Sciences Tools & Services,1999,M,1.0,<= 2 years,California,"(15000000, 20000000]"
1,A,2016,41.060001,48.630001,34.150002,45.560001,524933400,0.109596,2038.20,2277.53,...,4.9,1.8,Health Care,Life Sciences Tools & Services,1999,M,0.0,<= 2 years,California,"(15000000, 20000000]"
2,A,2017,45.930000,70.930000,45.740002,66.970001,464585300,0.458088,2251.57,2694.97,...,4.4,2.5,Health Care,Life Sciences Tools & Services,1999,M,0.0,<= 2 years,California,"(15000000, 20000000]"
3,A,2018,67.419998,75.110001,60.419998,67.459999,650604400,0.000593,2683.73,2940.91,...,3.9,3.0,Health Care,Life Sciences Tools & Services,1999,M,0.0,2 to 5 years,California,"(15000000, 20000000]"
4,A,2019,66.500000,85.680000,62.000000,85.309998,543573000,0.282857,2476.96,3247.93,...,3.7,2.5,Health Care,Life Sciences Tools & Services,1999,M,0.0,2 to 5 years,California,"(15000000, 20000000]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4369,ZTS,2019,84.510002,133.660004,81.370003,132.350006,531567200,0.566087,2476.96,3247.93,...,3.7,2.5,Health Care,Pharmaceuticals,1952,M,0.0,<= 2 years,New Jersey,"(15000000, 20000000]"
4370,ZTS,2020,132.050003,176.639999,90.139999,165.500000,512124700,0.253313,3244.67,3760.20,...,8.1,-2.2,Health Care,Pharmaceuticals,1952,F,1.0,<= 2 years,New Jersey,"(15000000, 20000000]"
4371,ZTS,2021,166.000000,249.270004,141.410004,244.029999,428719800,0.470060,3764.61,4808.93,...,5.4,5.8,Health Care,Pharmaceuticals,1952,F,0.0,<= 2 years,New Jersey,"(15000000, 20000000]"
4372,ZTS,2022,242.289993,243.240005,124.150002,146.550003,549233100,-0.395146,4778.14,4818.62,...,3.6,1.9,Health Care,Pharmaceuticals,1952,F,0.0,<= 2 years,New Jersey,"(15000000, 20000000]"
4373,ZTS,2023,148.660004,201.919998,141.520004,197.369995,485415000,0.327660,3853.29,4793.30,...,3.5,2.5,Health Care,Pharmaceuticals,1952,F,0.0,2 to 5 years,New Jersey,"(15000000, 20000000]"

In [30]:
# View final dataframe details
sp500_complete_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4366 entries, 0 to 4373
Data columns (total 26 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Ticker                                        4366 non-null   object
 1   Year                                          4366 non-null   object
 2   Year_Open                                     4366 non-null   float64
 3   Year_High                                     4366 non-null   float64
 4   Year_Low                                      4366 non-null   float64
 5   Year_Close                                    4366 non-null   float64
 6   Year_Volume                                   4366 non-null   object
 7   Stock_CAGR                                    4366 non-null   float64
 8   SP500_Open                                    4366 non-null   float64
 9   SP500_High                                    4366 non-null   float64
 10  SP500_Low                                     4366 non-null   float64
 11  SP500_Close                                   4366 non-null   float64
 12  SP500_CAGR                                    4366 non-null   float64
 13  Outperformed?                                 4366 non-null   int64
 14  Interest Rate (Federal Funds Effective Rate)  4366 non-null   float64
 15  CPI                                           4366 non-null   float64
 16  UnemploymentRate                              4366 non-null   float64
 17  GDPGrowthRate                                 4366 non-null   float64
 18  GICS Sector                                   4366 non-null   object
 19  GICS Sub-Industry                             4366 non-null   object
 20  Founded                                       4366 non-null   object
 21  Gender                                        4366 non-null   object
 22  CEO Transition                                4366 non-null   float64
 23  Tenure Bucket                                 4366 non-null   object
 24  HQ_US_State_or_Country                        4366 non-null   object
 25  Salary_Bucket                                 4366 non-null   category
dtypes: category(1), float64(15), int64(1), object(9)
memory usage: 891.5+ KB

In [31]:
# Save completed dataframe to csv
sp500_complete_df.to_csv('data/sp500_complete.csv', index=False)

In [32]:
# Show data columns
sp500_complete_df.columns

Index(['Ticker', 'Year', 'Year_Open', 'Year_High', 'Year_Low', 'Year_Close',
       'Year_Volume', 'Stock_CAGR', 'SP500_Open', 'SP500_High', 'SP500_Low',
       'SP500_Close', 'SP500_CAGR', 'Outperformed?',
       'Interest Rate (Federal Funds Effective Rate)', 'CPI',
       'UnemploymentRate', 'GDPGrowthRate', 'GICS Sector', 'GICS Sub-Industry',
       'Founded', 'Gender', 'CEO Transition', 'Tenure Bucket',
       'HQ_US_State_or_Country', 'Salary_Bucket'],
      dtype='object')

In [33]:
# Remove stock data columns for machine learning dataframe
sp500_company_ml_df = sp500_complete_df.drop(columns=['Year_Open', 'Year_High', 'Year_Low', 'Year_Close',
       'Year_Volume', 'Stock_CAGR', 'SP500_Open', 'SP500_High', 'SP500_Low',
       'SP500_Close', 'SP500_CAGR'], axis=1)

In [34]:
# Set "Ticker" as index
sp500_company_ml_df = sp500_company_ml_df.set_index('Ticker')
sp500_company_ml_df

,Year,Outperformed?,Interest Rate (Federal Funds Effective Rate),CPI,UnemploymentRate,GDPGrowthRate,GICS Sector,GICS Sub-Industry,Founded,Gender,CEO Transition,Tenure Bucket,HQ_US_State_or_Country,Salary_Bucket
Ticker,,,,,,,,,,,,,,
A,2015,1,0.11,0.1,5.3,2.9,Health Care,Life Sciences Tools & Services,1999,M,1.0,<= 2 years,California,"(15000000, 20000000]"
A,2016,1,0.34,1.3,4.9,1.8,Health Care,Life Sciences Tools & Services,1999,M,0.0,<= 2 years,California,"(15000000, 20000000]"
A,2017,1,0.65,2.1,4.4,2.5,Health Care,Life Sciences Tools & Services,1999,M,0.0,<= 2 years,California,"(15000000, 20000000]"
A,2018,1,1.41,2.4,3.9,3.0,Health Care,Life Sciences Tools & Services,1999,M,0.0,2 to 5 years,California,"(15000000, 20000000]"
A,2019,0,2.40,1.8,3.7,2.5,Health Care,Life Sciences Tools & Services,1999,M,0.0,2 to 5 years,California,"(15000000, 20000000]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZTS,2019,1,2.40,1.8,3.7,2.5,Health Care,Pharmaceuticals,1952,M,0.0,<= 2 years,New Jersey,"(15000000, 20000000]"
ZTS,2020,1,1.55,1.2,8.1,-2.2,Health Care,Pharmaceuticals,1952,F,1.0,<= 2 years,New Jersey,"(15000000, 20000000]"
ZTS,2021,1,0.09,4.7,5.4,5.8,Health Care,Pharmaceuticals,1952,F,0.0,<= 2 years,New Jersey,"(15000000, 20000000]"
ZTS,2022,0,0.08,8.0,3.6,1.9,Health Care,Pharmaceuticals,1952,F,0.0,<= 2 years,New Jersey,"(15000000, 20000000]"
ZTS,2023,1,4.33,3.2,3.5,2.5,Health Care,Pharmaceuticals,1952,F,0.0,2 to 5 years,New Jersey,"(15000000, 20000000]"

In [35]:
# Save ML dataframe to csv
sp500_company_ml_df.to_csv('data/sp500_company_ml.csv', index=False)